extend layout

block content
    h1= query + ' 검색 결과 (' + results.length + ')'
    
    //
        if results
            for result in results
                div= result.formatted_address
                div= JSON.stringify(result.geometry.location)
                div= result.place_id
                div= result.name
    
    #map
    
    script.
        var positons = [];
    for result in results
        script.
            position.push({
                lat : #{result.geometry.location.lat},
                lng : #{result.geometry.location.lng},
                name : ${result.name},
                id : ${result.place_id}
            });
        script. 
            function initMap() {
                var center = positions[0] || {lat : 37.540705, lng : 126.956764};
                var map = new google.maps.Map(document.getElementById(`map), {
                    zoom : 13,
                    center : center
                });
                position.forEach(function(pos) {
                    new google.map.Marker ({
                        position : {lat : pos.lat, lng : pos.lng},
                        map : map,
                        title : post.name
                    });
                });
            }
        script (
            async
            defer
            src="https://maps.googleapis.com/maps/api/js?key="
                + "alphabetagamma나중에 해야겠다 이거는... 안나옴" 
        )

            